@model RemarkViewModel

<h2>@ViewBag.Title</h2>

@Html.GetMessageSummary()
@Html.ValidationSummary(true)

@using (Html.BeginForm(new {id = Model.RemarkId}.CleanUp()))
{
    <fieldset>
        <legend style="display: none;"></legend>
        <div>
            @Html.HiddenFor(model => model.RemarkId)
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RaceGroupRaceGroupId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.RaceGroupRaceGroupId, Model.RaceGroups)
                @Html.ValidationMessageFor(model => model.RaceGroupRaceGroupId)
            </div>
        </div>
        <div>
            <div class="editor-label" style="vertical-align: text-top;">
                @Html.LabelFor(model => model.RemarkText)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RemarkText)
                @Html.ValidationMessageFor(model => model.RemarkText)
            </div>
        </div>
        <p>
            <input type="submit" value="Opslaan"/> |
            @Html.MtkActionLink("Terug naar overzicht", "Index")
        </p>
    </fieldset>
}