@model RemarkViewModel

@{
    ViewBag.Title = "Opmerking verwijderen";
}

<h2>@ViewBag.Title</h2>

@Html.GetMessageSummary()

<h3>Weet je zeker dat je de volgende opmerking wilt verwijderen?</h3>
<fieldset>
    <legend style="display: none;"></legend>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RaceGroupRaceGroupDescription)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RaceGroupRaceGroupDescription)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RemarkText)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RemarkText)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RaceGroups)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RaceGroups)
        </div>
    </div>
</fieldset>
@using (Html.BeginForm(new {id = Model.RemarkId}))
{
    <p>
        @Html.HiddenFor(model => model.RemarkId)
        <input type="submit" value="Verwijderen"/> |
        @Html.MtkActionLink("Terug naar overzicht", "Index")
    </p>
}