@model RemarkViewModel

@{
    ViewBag.Title = "Opmerking";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend style="display: none;"></legend>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RaceGroupRaceGroupDescription)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RaceGroupRaceGroupDescription)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RemarkText)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RemarkText)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RaceGroups)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RaceGroups)
        </div>
    </div>
</fieldset>
<p>
    @Html.MtkActionLink("Bewerken", "Edit", new {id = Model.RemarkId}) |
    @Html.MtkActionLink("Terug naar overzicht", "Index")
</p>