@model IEnumerable<RemarkViewModel>

@{
    ViewBag.Title = "Opmerkingen";
}

@section scripts {
    <script type="text/javascript">
        $.mtk.entityName = 'Opmerking';
    </script>
}

<div class="new-entity-link">
    @Html.MtkActionLink("Nieuwe opmerking", "Create", null, new {@class = "Create add24px.png"})
</div>

<h2>@ViewBag.Title</h2>

@Html.GetMessageSummary()

@Html.MtkGridPager(Model)

@Html.Grid(Model).Columns(column =>
{
    column.For(m => m.RemarkId);
    column.For(m => m.RaceGroupRaceGroupDescription);
    column.For(m => m.RemarkText);
    column.Custom(m => Html.MakeGridLinksFor(new {id = m.RemarkId})).Sortable(false);
}).Attributes(@class => "grid-editing", style => "width: 100%;").Sort(ViewBag.sort)