﻿<div style="float: right;">
    <table style="border: 0;">
        <tr>
            <td style="border: 0; padding: 12px 12px 12px 0;">Legenda:</td>
            <td style="background-color: #cc66cc; padding: 12px; text-align: center; width: 90px;">Rijen overslaan</td>
            <td style="background-color: #ffff00; padding: 12px; text-align: center; width: 90px;">@ViewBag.LegendChipTeamText</td>
            <td style="background-color: #00ccff; padding: 12px; text-align: center; width: 90px;">Tijd</td>
        </tr>
    </table>
</div>

<h2>@ViewBag.Title</h2>
<div style="clear: both"></div>
<iframe src="@Url.Action("SheetContents", "ViewExcel", new {id = ViewBag.Id})" style="border: 1px solid #ccc; height: 480px; overflow: scroll; width: 100%;"></iframe>

<br/>
<br/>
<p>
    @Html.MtkActionLink("Terug naar overzicht", "Index", "ImportExcel", null, null)
</p>