﻿@using System.Configuration
@model NewYearModel

@{
    ViewBag.Title = "Nieuw Jaar";
    var logoFileName = ConfigurationManager.AppSettings["LogoFileName"];
    var verenigingslogoFileName = ConfigurationManager.AppSettings["VerenigingslogoFileName"];
}

<h2>Nieuw Jaar</h2>

@Html.GetMessageSummary()
@Html.ValidationSummary(true)

@using (Html.BeginForm("Update", "NewYear"))
{
    <fieldset>
        <legend style="display: none;"></legend>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Year)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.LoginUserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LoginUserName)
                @Html.ValidationMessageFor(model => model.LoginUserName)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.LoginPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LoginPassword)
                @Html.ValidationMessageFor(model => model.LoginPassword)
            </div>
        </div>
        <p>
            <input type="submit" value="Opslaan"/>
        </p>
    </fieldset>
}
<div style="border: 1px solid rgb(221, 221, 221); margin-bottom: 18px; padding: 0 18px 30px 18px;">
    <h3>Tabellen leegmaken</h3>
    @using (Html.BeginForm("TruncateTables", "NewYear"))
    {
        <input type="submit" value="Uitvoeren"/>
    }
</div>
<div style="border: 1px solid rgb(221, 221, 221); padding: 0 18px 30px 18px;">
    <h3>Export voor archief</h3>
    <ul style="margin-bottom: 0;">
        <li>
            @Html.ActionLink("Download HTML voor archief", "HtmlExport", new { Controller = "Home", Area = "" })
        </li>
        <li>
            <a href="@Url.Content($"~/Content/{logoFileName}")" download="@logoFileName">@logoFileName</a>
        </li>
        <li>
            <a href="@Url.Content($"~/Content/{verenigingslogoFileName}")" download="@verenigingslogoFileName">@verenigingslogoFileName</a>
        </li>
        <li>@Html.ActionLink("Excel", "Excel", new { Controller = "Home", Area = "", anonymous = "true" })</li>
        <li>
            <a href="https://www.princexml.com" target="_blank">PrinceXML</a>: <code style="user-select: all;">@Url.Action("Index", "Home", new { Area = "", anonymous = "true" }, Request.Url?.Scheme)</code> → <code style="user-select: all;">uitslagen-paulveenemansprijs-@(Model.Year).pdf</code>
        </li>
    </ul>
</div>