﻿@model UserViewModel

@{
    ViewBag.Title = "Inloggen";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary(true, "Inloggen is mislukt. Corrigeer de fouten en probeer het opnieuw.")

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend style="display: none;"></legend>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.UserName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Inloggen" />
            </p>
        </fieldset>
    </div>
}
<script type="text/javascript">
    $(function() {
        $('#UserName').focus();
    });
</script>