﻿@using System.Configuration
@using System.Text.RegularExpressions
@using PaulVeenemansPrijsApp
@using PaulVeenemansPrijsDomain.Entities
@using PaulVeenemansPrijsApp.Areas.Admin.Models
@model ResultViewModel
@{
    Layout = null;
    var logoFileName = $"/wp-content/uploads/{ConfigurationManager.AppSettings["LogoFileName"]}";
    var verenigingslogoFileName = $"/wp-content/uploads/{ConfigurationManager.AppSettings["VerenigingslogoFileName"]}";
    var organization = ConfigurationManager.AppSettings["Organization"];
}

<div class="page">
<div id="box">
<div id="header">
    <div id="title">
        <a href="/" title="Paul Veenemans Prijs">
            <img alt="Paul Veenemans Prijs" height="120" src="@logoFileName" width="600"/>
        </a>
    </div>
</div>
<div id="main">
<div style="clear: both"></div>
<div id="download-icons" style="float: right; width: 48px;">
    <a href="@($"/wp-content/uploads/paulveenemansprijs{DateTime.Today.Year}.xls")">
        <img src="@Url.Content("/wp-content/uploads/excel-icon.gif")" alt="Excel-versie downloaden" />
    </a>
    <a href="@($"/wp-content/uploads/paulveenemansprijs{DateTime.Today.Year}.pdf")">
        <img src="@Url.Content("/wp-content/uploads/pdf-icon.gif")" alt="PDF-versie downloaden" />
    </a>
</div>

@foreach (RaceGroupViewModel raceGroup in Model.RaceGroups)
{
    <h2>@raceGroup.RaceGroupDescription</h2>
    <table id="@($"table{raceGroup.RaceGroupId}")" class="resultstable tablesorter" style="width: 100%;" role="grid" summary="@raceGroup.RaceGroupDescription">
        <thead>
        <tr>
            <th>#</th>
            <th>
                St.<br/>nr.
            </th>
            <th>
                Cat.
            </th>
            <th></th>
            <th>
                Ploegnaam
            </th>
            <th>
                Deelnemer
            </th>
            <th>
                R
            </th>
            <th style="text-align: right;">
                Wielrennen
            </th>
            <th style="text-align: right;">
                Schaatsen
            </th>
            <th style="text-align: right;">
                Hardlopen
            </th>
            <th style="text-align: right;">
                Roeien
            </th>
            <th style="text-align: right;">
                Totaal<br/>Punten
            </th>
        </tr>
        </thead>
        <tbody>

        @foreach (ParticipantViewModel item in raceGroup.Participants)
        {
            <tr style="background-color: @(item.RankMajor == 1 ? "#9cd170" : item.OverallScore > 0 && item.RankMinor == 1 ? "#dadada" : "transparent")">
                <td>
                    @(item.Index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamSeqNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RaceCodeMajor)
                </td>
                <td data-text="@($"{item.RaceCodeMajor}____".Substring(0, 4) + item.RaceCodeMinor)">
                    @Html.DisplayFor(modelItem => item.RaceCodeMinor)
                </td>
                <td data-text="@(Regex.Replace(item.TeamCode, @"[ 0-9]+$", ""))">
                    @(item.TeamCode.Replace(' ', '\xa0'))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeRowing)
                </td>
                <td style="text-align: right; width: 85px;" data-text="@(item.CyclingStatusCode == Status.Def ? item.CyclingTime : "99:59.9")">
                    @if (item.CyclingStatusCode != Status.Def)
                    {
                        <div>@Html.DisplayFor(modelItem => item.CyclingStatusCode)</div>
                    }
                    else
                    {
                        <div class="discreet">
                            <div>@Html.DisplayFor(modelItem => item.CyclingTime)</div>
                            @if (!string.IsNullOrEmpty(item.CyclingPenalty))
                            {
                                <div>@Regex.Replace(item.CyclingPenalty, ".*:(.*)\\..*", "incl.\xa0$1s")</div>
                            }
                        </div>
                        <div class="score">@Html.DisplayFor(modelItem => item.CyclingScore)</div>
                    }
                </td>
                <td style="text-align: right; width: 85px;" data-text="@(item.SkatingStatusCode == Status.Def ? item.SkatingTime : "99:59.9")">
                    @if (item.SkatingStatusCode != Status.Def)
                    {
                        <div>@Html.DisplayFor(modelItem => item.SkatingStatusCode)</div>
                    }
                    else
                    {
                        <div class="discreet">
                            <div>@Html.DisplayFor(modelItem => item.SkatingTime)</div>
                            @if (!string.IsNullOrEmpty(item.SkatingPenalty))
                            {
                                <div>@Regex.Replace(item.SkatingPenalty, ".*:(.*)\\..*", "incl.\xa0$1s")</div>
                            }
                        </div>
                        <div class="score">@Html.DisplayFor(modelItem => item.SkatingScore)</div>
                    }
                </td>
                <td style="text-align: right; width: 85px;" data-text="@(item.RunningStatusCode == Status.Def ? item.RunningTime : "99:59.9")">
                    @if (item.RunningStatusCode != Status.Def)
                    {
                        <div>@Html.DisplayFor(modelItem => item.RunningStatusCode)</div>
                    }
                    else
                    {
                        <div class="discreet">
                            <div>@Html.DisplayFor(modelItem => item.RunningTime)</div>
                            @if (!string.IsNullOrEmpty(item.RunningPenalty))
                            {
                                <div>@Regex.Replace(item.RunningPenalty, ".*:(.*)\\..*", "incl.\xa0$1s")</div>
                            }
                        </div>
                        <div class="score">@Html.DisplayFor(modelItem => item.RunningScore)</div>
                    }
                </td>
                <td style="text-align: right; width: 85px;" data-text="@(item.RowingStatusCode == Status.Def ? item.RowingTimeCorrected : "99:59.9")">
                    @if (item.RowingStatusCode != Status.Def)
                    {
                        <div>@Html.DisplayFor(modelItem => item.RowingStatusCode)</div>
                    }
                    else
                    {
                        <div class="discreet">
                            @if (item.RowingTimeCorrected != item.RowingTime)
                            {
                                <div>@Html.DisplayFor(modelItem => item.RowingTimeCorrected)</div>
                            }
                            <div>@Html.DisplayFor(modelItem => item.RowingTime)</div>
                            @if (!string.IsNullOrEmpty(item.RowingPenalty))
                            {
                                <div>@Regex.Replace(item.RowingPenalty, ".*:(.*)\\..*", "incl.\xa0$1s")</div>
                            }
                        </div>
                        <div class="score">@Html.DisplayFor(modelItem => item.RowingScore)</div>
                    }
                </td>
                <td style="text-align: right;" data-text="@(item.OverallScore == 0 ? double.MaxValue : item.OverallScore)">
                    @Html.DisplayFor(modelItem => item.OverallScore)
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div id="@($"remarks{raceGroup.RaceGroupId}")" style="font-size: 87%;">
        @foreach (RemarkViewModel remark in raceGroup.Remarks)
        {
            <p>@remark.RemarkText</p>
        }
    </div>
}
</div>
    <div id="footer">
        <div style="float: left; padding: 0 30px;">
            <img src="@verenigingslogoFileName" alt=""/>
        </div>
        <div style="float: right; padding: 0 30px;">
            <img src="/wp-content/uploads/knrblogo.png" alt=""/>
        </div>
        <div style="clear: both; padding: 0 30px;">@organization &#x96; @MvcApplication.GetVersion()</div>
    </div>
</div>
</div>
