﻿@using System.Text.RegularExpressions
@using PaulVeenemansPrijsDomain.Entities
@using PaulVeenemansPrijsApp.Areas.Admin.Models
@model ResultViewModel

<div style="float: right; position: relative; top: -2em;">
    <a class="button" href="@Url.Action("Index")">Ongesplitste uitslag</a>
</div>
<div style="clear: both"></div>

@foreach (RaceGroupViewModel raceGroup in Model.RaceGroups)
{
    if (Request.IsAuthenticated)
    {
        <h2>
            @raceGroup.RaceGroupDescription <span style="color: gray;">(Gepubliceerde uitslagen)</span>
        </h2>
    }
    else
    {
        <h2>@raceGroup.RaceGroupDescription</h2>
    }
    foreach (var kvp in new Dictionary<string, string[]> { { "Vrouwen", new[] { "D", "M" } }, { "Mannen", new[] { "J", "H", "V" } } })
    {
        <h3>@(kvp.Key)</h3>

        <table id="@($"table{raceGroup.RaceGroupId}{kvp.Key.ToLowerInvariant()}")" class="resultstable tablesorter tablesorter-default" summary="@raceGroup.RaceGroupDescription @kvp.Key">
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        St.<br />nr.
                    </th>
                    <th>
                        Cat.
                    </th>
                    <th></th>
                    <th>
                        Ploegnaam
                    </th>
                    <th>
                        Deelnemer
                    </th>
                    <th>
                        R
                    </th>
                    <th style="text-align: right;">
                        Wielrennen
                    </th>
                    <th style="text-align: right;">
                        Schaatsen
                    </th>
                    <th style="text-align: right;">
                        Hardlopen
                    </th>
                    <th style="text-align: right;">
                        Roeien
                    </th>
                    <th style="text-align: right;">
                        Totaal<br />Punten
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ var i = 1; }
                @foreach (ParticipantViewModel item in raceGroup.Participants.Where(x => kvp.Value.Contains((x.RaceCodeMajor + "X").Substring(0, 1))))
                {
                    <tr style="background-color: @(item.RankMajor == 1 ? "#9cd170" : item.OverallScore > 0 && item.RankMinor == 1 ? "#dadada" : "transparent")">
                        <td>
                            @(i++)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamSeqNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RaceCodeMajor)
                        </td>
                        <td data-text="@($"{item.RaceCodeMajor}____".Substring(0, 4) + item.RaceCodeMinor)">
                            @Html.DisplayFor(modelItem => item.RaceCodeMinor)
                        </td>
                        <td data-text="@(Regex.Replace(item.TeamCode, @"[ 0-9]+$", ""))">
                            @(item.TeamCode.Replace(' ', '\xa0'))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParticipantName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodeRowing)
                        </td>
                        <td style="text-align: right; width: 85px;" data-text="@(item.CyclingStatusCode == Status.Def ? item.CyclingTime : "99:59.9")">
                            @if (item.CyclingStatusCode != Status.Def)
                            {
                                <div>@Html.DisplayFor(modelItem => item.CyclingStatusCode)</div>
                            }
                            else
                            {
                                <div class="discreet">
                                    <div>@Html.DisplayFor(modelItem => item.CyclingTime)</div>
                                    @if (!string.IsNullOrEmpty(item.CyclingPenalty))
                                    {
                                        <div>@Regex.Replace(item.CyclingPenalty, ".*:(.*)\\..*", "incl.\xa0$1s")</div>
                                    }
                                </div>
                                <div class="score">@Html.DisplayFor(modelItem => item.CyclingScore)</div>
                            }
                        </td>
                        <td style="text-align: right; width: 85px;" data-text="@(item.SkatingStatusCode == Status.Def ? item.SkatingTime : "99:59.9")">
                            @if (item.SkatingStatusCode != Status.Def)
                            {
                                <div>@Html.DisplayFor(modelItem => item.SkatingStatusCode)</div>
                            }
                            else
                            {
                                <div class="discreet">
                                    <div>@Html.DisplayFor(modelItem => item.SkatingTime)</div>
                                    @if (!string.IsNullOrEmpty(item.SkatingPenalty))
                                    {
                                        <div>@Regex.Replace(item.SkatingPenalty, ".*:(.*)\\..*", "incl.\xa0$1s")</div>
                                    }
                                </div>
                                <div class="score">@Html.DisplayFor(modelItem => item.SkatingScore)</div>
                            }
                        </td>
                        <td style="text-align: right; width: 85px;" data-text="@(item.RunningStatusCode == Status.Def ? item.RunningTime : "99:59.9")">
                            @if (item.RunningStatusCode != Status.Def)
                            {
                                <div>@Html.DisplayFor(modelItem => item.RunningStatusCode)</div>
                            }
                            else
                            {
                                <div class="discreet">
                                    <div>@Html.DisplayFor(modelItem => item.RunningTime)</div>
                                    @if (!string.IsNullOrEmpty(item.RunningPenalty))
                                    {
                                        <div>@Regex.Replace(item.RunningPenalty, ".*:(.*)\\..*", "incl.\xa0$1s")</div>
                                    }
                                </div>
                                <div class="score">@Html.DisplayFor(modelItem => item.RunningScore)</div>
                            }
                        </td>
                        <td style="text-align: right; width: 85px;" data-text="@(item.RowingStatusCode == Status.Def ? item.RowingTimeCorrected : "99:59.9")">
                            @if (item.RowingStatusCode != Status.Def)
                            {
                                <div>@Html.DisplayFor(modelItem => item.RowingStatusCode)</div>
                            }
                            else
                            {
                                <div class="discreet">
                                    @if (item.RowingTimeCorrected != item.RowingTime)
                                    {
                                        <div>@Html.DisplayFor(modelItem => item.RowingTimeCorrected)</div>
                                    }
                                    <div>@Html.DisplayFor(modelItem => item.RowingTime)</div>
                                    @if (!string.IsNullOrEmpty(item.RowingPenalty))
                                    {
                                        <div>@Regex.Replace(item.RowingPenalty, ".*:(.*)\\..*", "incl.\xa0$1s")</div>
                                    }
                                </div>
                                <div class="score">@Html.DisplayFor(modelItem => item.RowingScore)</div>
                            }
                        </td>
                        <td style="text-align: right;" data-text="@(item.OverallScore == 0 ? double.MaxValue : item.OverallScore)">
                            @Html.DisplayFor(modelItem => item.OverallScore)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div id="@($"remarks{raceGroup.RaceGroupId}")" style="font-size: 87%;">
        @foreach (RemarkViewModel remark in raceGroup.Remarks)
        {
            <p>@remark.RemarkText</p>
        }
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table1vrouwen").tablesorter({ sortList: [[0, 0]] });
            $("#table1mannen").tablesorter({ sortList: [[0, 0]] });
            $("#table2vrouwen").tablesorter({ sortList: [[0, 0]] });
            $("#table2mannen").tablesorter({ sortList: [[0, 0]] });
        });
    </script>
}