<h1 id="uitslagenapplicatie-paul-veenemans-prijs">Uitslagenapplicatie Paul Veenemans Prijs</h1>
<h2 id="werking-systeem">Werking systeem</h2>
<p>Het systeem werkt als volgt:</p>
<p>Voorafgaand aan de wedstrijd importeer je een lijst met stamgegevens:</p>
<ol type="1">
<li><p>teamnummer (startnummer)</p></li>
<li><p>chipnummer (van MyLaps)</p></li>
<li><p>veld (Meisjes Junioren, Jongens Junioren, Dames Senioren, Heren Senioren, Dames Veteranen, Heren Veteranen)</p></li>
<li><p>subveld (leeg, of Veteranen A-J)</p></li>
<li><p>teamcode (vereniging plus volgnummer)</p></li>
<li><p>naam deelnemer</p></li>
<li><p>roeien in skiff of tweezonder</p></li>
<li><p>eventueel racegroep (=wedstrijd, mag leeggelaten worden)</p></li>
</ol>
<p>Deze lijst is in Excel. De kolomvolgorde is vast, de eerste rij is een veldnamenrij. Dit is de enige import waarbij de compleet aanwezige inhoud eerst wordt weggegooid voordat de import begint. Bij alle overige importacties worden bestaande gegevens aangevuld (en eventueel overschreven).</p>
<p>Het Excel-document wordt bewaard in de applicatie. Je kunt het daarvandaan weer downloaden om in Excel aanpassingen te maken.</p>
<p>Gedurende de wedstrijd importeer je de diverse uitslagen. Dit zijn steeds Excellijstjes met netto-tijden. De deelnemers worden in deze lijst geïdentificeerd met chipnummer of met teamnummer (startnummer). Dat kun je op het moment van import zelf kiezen.</p>
<p>De lijsten in Excel hoeven niet gesorteerd te zijn. Je kunt ook meerdere sublijstjes achter elkaar importeren. Elke import vult aan voor zover nog niet beschikbaar, en overschrijft eventueel aanwezige uitslagen. Er is een aparte knop om alle uitslagen voor één onderdeel leeg te maken.</p>
<p>Voor roeien is er een aparte manier van importeren zodat je een lijst met starttijden (van een stopwatch) en een lijst met eindtijden (van een andere gesynchroniseerde stopwatch) kunt importeren. Het systeem maakt dan de koppeling en de berekening van de netto-tijd. Het koppelen van de lijst met startnummer/starttijd en de lijst met startnummer/eindtijd in Excel is namelijk soms nog best lastig. (Niet actief in de afgelopen jaren.)</p>
<p>Het uploaden van een Exceldocument en het importeren van de data en berekenen van de scores gaat in drie stappen.</p>
<ol type="1">
<li><p>Eerst uploaden,</p></li>
<li><p>dan via een aparte handeling importeren in de applicatie en</p></li>
<li><p>vervolgens scores berekenen.</p></li>
</ol>
<h2 id="tips">Tips</h2>
<ul>
<li><p>De irritante statusmeldingen bovenin het scherm kun je wegkrijgen door erop te klikken.</p></li>
<li><p>Als je bent ingelogd heb je twee uitslagen-overzichten. De <em>voorlopige</em> uitslagen zitten onder “Goedkeuring” en de <em>gepubliceerde</em> uitslagen kun je vinden door op het logo van de Paul Veenemans Prijs te klikken. Elk overzicht heeft een eigen Excel-download.</p></li>
<li><p>Bij “Deelnemers” kun je filteren op rugnummer, chipnummer, naam van de deelnemer en vereniging. Sorteren door op kolomkop te klikken.</p></li>
<li><p>Racegroepen kun je bewerken via link onderaan pagina “Deelnemers”.</p></li>
</ul>
<h2 id="publicatie-van-de-uitslagen">Publicatie van de uitslagen</h2>
<p>De uitslagen kun je steeds publiceren tot zover de onderdelen voltooid zijn. Daarvoor is een aparte publicatieknop. De uitslagenlijst onder het menu-item “Goedkeuring” kun je gebruiken om te tonen aan het Hoofd van de Jury. Je kunt deze optie eventueel ook gebruiken om de uitslag geheim te houden tot aan de prijsuitreiking.</p>
<p>Als je iets stoms gedaan hebt en je komt erachter nadat je de uitslagen gepubliceerd hebt, dan kun je teruggaan naar de vorige versie van de gepubliceerde uitslagen. Deze “Undo” van gepubliceerde uitslagen werkt echter maar één niveau diep.</p>
<h2 id="toegang">Toegang</h2>
<p>De applicatie draait op de publiek toegankelijke URL: https://app.paulveenemansprijs.nl/.</p>
<p>Inloggen: <code>gebruikersnaam</code> <code>*****</code></p>
<h2 id="wat-zit-er-niet-in">Wat zit er niet in</h2>
<p>Je kunt geen realtime tijden publiceren met het systeem. Alles gaat steeds met een Excel-import.</p>
<p>Ronde-tijden van het schaatsen en andere tussentijden kunnen ook niet in het PVP-systeem.</p>
<h2 id="technische-achtergrond-systeem-en-back-up">Technische achtergrond systeem en back-up</h2>
<p>Het PVP-systeem is een speciaal geprogrammeerde applicatie. Het is gemaakt in C# en ASP.NET MVC5. Ik heb de source-code beschikbaar indien gewenst. De mediaan-berekening en de tijdcorrectie voor het roeien in de tweezonder zijn met uitgebreide unit-tests getest. De berekening is “in productie” gebruikt bij de PVP sinds 2011.</p>
<p>Het hele systeem draait via een internetverbinding op een server die in een datacentrum staat. De afgelopen drie jaar was de beschikbaarheid van deze server 100%, maar hij kan uitvallen. Ik zal daarom zorgen voor een gesynchroniseerde “hot standby” van deze server zodat jullie bij uitval verder kunnen werken vanaf die server. Eventuele uitval van internetverbindingen zullen jullie zelf moeten afdekken door een dongle (of een “hotspot-telefoon”) bij de hand te hebben.</p>
<h2 id="praktische-organisatie-en-testen">Praktische organisatie en testen</h2>
<p>Ik hoop dat je zo voldoende achtergrondinformatie hebt. Zodra jullie een draaiboek hebben voor de tijdwaarneming dan kun je me dat misschien toesturen, dan kan ik kijken of jullie processen aansluiten op het PVP-systeem.</p>
