﻿/*----------------------------------------------------------
The base color for this template is #0c7cae. If you'd like
to use a different color start by replacing all instances of
#0c7cae with your new color.
----------------------------------------------------------*/
body {
    color: #000;
    font-family: Arial, FreeSans, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#loadmask {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited { color: #505abc; }

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active { color: #12eb87; }

p, ul {
    line-height: 1.6em;
    margin-bottom: 20px;
}

header,
footer,
nav,
section { display: block; }

/* HEADINGS
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 { margin: 10px 0; }

h3 { font-size: 1.2em; }

h4 { font-size: 1.1em; }

h5, h6 { font-size: 1em; }

/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/

.page {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

#box {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 20px;
}

header, #header {
    background-color: #fff;
    color: #000;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}

#main {
    background-color: #fff;
    padding: 15px 30px 15px 30px;
}

footer,
#footer {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    color: #999;
    font-size: .9em;
    line-height: normal;
    margin: 0 0 30px 0;
    padding: 10px 0;
    text-align: center;
}

/* TAB MENU
----------------------------------------------------------*/

#menucontainer {
    position: absolute;
    right: 100px;
    top: 0;
}

ul#menu {
    margin: 0;
    padding: 0;
    text-align: right;
}

ul#menu li {
    display: inline-block;
    list-style: none;
}

ul#menu li a {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    background-color: #e3e3e3;
    border-radius: 0 0 8px 8px;
    color: #034af3;
    font-weight: bold;
    line-height: 1.9em;
    padding: 8px 15px;
    text-decoration: none;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    margin: 0 0 1.5em 0;
    padding: 0 1.4em 0.6em 1.4em;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea { min-height: 75px; }

input[type="text"],
input[type="password"],
input[type="number"] {
    border: 1px solid #ccc;
    color: #444;
    font-size: 1.2em;
    padding: 2px;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    color: #444;
    font-size: 1.2em;
    padding: 2px;
}

input[type="submit"], input[type="file"] {
    font-size: 1.4em;
    padding: 8px;
}

input[type="file"] {
    height: 48px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e3e3e3;
    border-collapse: collapse;
}

table td {
    border: solid 1px #e3e3e3;
    padding: 5px;
    vertical-align: top;
}

table th {
    background-color: #e3e3e3;
    border: solid 1px #e3e3e3;
    padding: 6px 5px;
    text-align: left;
    vertical-align: top;
}

/* MISC
----------------------------------------------------------*/

.clear { clear: both; }

.error { color: Red; }

/*div#title img { margin: 24px 0 0 11px; }*/

#logindisplay {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    background: none repeat scroll 0 0 #e3e3e3;
    border-radius: 0 0 8px 8px;
    font-size: 13px;
    padding: 3px 9px 6px;
    position: absolute;
    right: 24px;
    text-align: center;
    top: 0;
}

#logindisplay a:visited, #logindisplay a:link {
    color: #205C90;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #ff0000; }

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #ffeeee;
    border: 1px solid #ff0000;
}

.validation-summary-errors {
    color: #ff0000;
    font-weight: bold;
}

.validation-summary-valid { display: none; }

/* Styles for editor and display helpers
----------------------------------------------------------*/

.display-label,
.editor-label {
    display: inline-block;
    margin: 1em 0 0 0;
    width: 180px;
}

.display-field,
.editor-field {
    display: inline-block;
    margin: 0.5em 0 0 0;
}

.text-box { width: 30em; }

.text-box.multi-line { height: 6.5em; }

.tri-state { width: 6em; }

.status-message {
    position: relative;
    width: 100%;
}

.status-message ul {
    background-color: #e8eef4;
    color: #060;
    font-weight: 700;
    left: 50%;
    list-style: none;
    margin: 0 0 0 -25%;
    padding: 6px;
    position: absolute;
    top: -54px;
    width: 50%;
    z-index: 999;
}

.status-message .info {
    background: url('icons/information.png') no-repeat left 3px;
    padding-left: 20px;
}

.status-message .warning {
    background: url('icons/exclamation.png') no-repeat left 3px;
    color: #cc0000;
    padding-left: 20px;
}

.status-message .error {
    background: url('icons/cancel.png') no-repeat left 3px;
    color: #cc0000;
    padding-left: 20px;
}

/* Pager
----------------------------------------------------------*/

.pagination {
    float: right;
    margin: 6px 0;
    position: relative;
}

.pagination a {
    color: #333;
    display: block;
    text-decoration: none;
    width: 100%;
}

.pagination dd {
    background: url('icons/pagination.png') no-repeat 0 0;
    color: #999;
    float: left;
    height: 18px;
    margin: 2px 1px;
    padding: 4px 3px 2px;
    text-align: center;
    width: 30px;
}

.pagination .current {
    background: url('icons/pagination.png') no-repeat -124px 0;
    color: #fff;
    font-weight: 700;
}

.pagination .previousnext {
    background: url('icons/pagination.png') no-repeat -38px 0;
    width: 78px;
}

.pagination .discreet {
    background-image: none;
    color: #999;
    width: auto;
}
/* Sorter
----------------------------------------------------------*/

th a {
    color: #696969 !important;
    text-decoration: none !important;
}

.sort_asc {
    background-image: url('icons/sort_asc.png');
    background-position: 4px;
    background-repeat: no-repeat;
    padding-left: 16px;
}

.sort_desc {
    background-image: url('icons/sort_desc.png');
    background-position: 4px;
    background-repeat: no-repeat;
    padding-left: 16px;
}
/*
----------------------------------------------------------*/

.new-entity-link {
    float: right;
    margin: 2px;
}

.filter {
    float: left;
    margin: 0 0 6px;
    width: 360px;
}

.grid tr:hover { background-color: #f2f9ff; }

.ui-datepicker-trigger {
    height: 30px;
    margin-left: 2px;
    width: 30px;
}

/* PVP
----------------------------------------------------------*/

@media print {
    #box { box-shadow: none; }

    #logindisplay, #download-icons, #splits-button {
        display: none;
    }

    body { background: none; }

    #title img { height: 80%; }
}

.discreet {
    color: #777;
    float: left;
    font-size: 87%;
    width: 40px;
}

.score { margin-left: 43px; }

a img { border: 0; }

#download-icons { float: right; }

.resultstable { width: 100%; }

/* Participant dialog */

#participant-create-or-edit {
    font-size: 85%;
    height: 500px;
    width: 890px;
}

#participant-create-or-edit fieldset {
    margin-bottom: 8px;
    padding-bottom: 12px;
}

#participant-create-or-edit .editor-label {
    margin-top: 8px;
    width: 140px;
}

#participant-create-or-edit .editor-field { margin-top: 2px; }

a.button {
    text-align: center;
    padding: 6px 8px;
    border: 0;
    border-radius: 4px;
    background: #3485c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#3485c2), to(#326082));
    background: -moz-linear-gradient(top, #3485c2, #326082);
    background: linear-gradient(to bottom, #3485c2, #326082);
    font: 12px Arial;
    color: #ffffff;
    text-decoration: none;
}
a.button:hover,
a.button:focus {
    background: #3ea0e9;
    background: -webkit-gradient(linear, left top, left bottom, from(#3ea0e9), to(#3c739c));
    background: -moz-linear-gradient(top, #3ea0e9, #3c739c);
    background: linear-gradient(to bottom, #3ea0e9, #3c739c);
    color: #ffffff;
    text-decoration: none;
}
a.button:active {
    background: #1f5074;
    background: -webkit-gradient(linear, left top, left bottom, from(#1f5074), to(#326082));
    background: -moz-linear-gradient(top, #1f5074, #326082);
    background: linear-gradient(to bottom, #1f5074, #326082);
}

@media print {
    body, #loadmask { background: none !important; }

    #loadmask {
        height: 1px !important;
        width: 1px !important;
    }

    #box {
        border-radius: 0 !important;
        box-shadow: none !important;
    }

    #logindisplay, #splits-button, #download-icons { display: none !important; }
}

@page {
    -prince-shrink-to-fit: auto;
    margin: 24pt 38pt;
    size: A4
}