﻿@using System.Text.RegularExpressions
@using PaulVeenemansPrijsDomain.Entities
@model ResultViewModel


@foreach (RaceGroupViewModel raceGroup in Model.RaceGroups)
{
    <h2>@raceGroup.RaceGroupDescription <span style="color: gray;">Voorlopige scores</span></h2>

    <table id="@($"table{raceGroup.RaceGroupId}")" class="resultstable tablesorter" summary="@raceGroup.RaceGroupDescription">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    St.<br />nr.
                </th>
                <th>
                    Cat.
                </th>
                <th></th>
                <th>
                    Ploegnaam
                </th>
                <th>
                    Deelnemer
                </th>
                <th>
                    R
                </th>
                <th style="text-align: right;">
                    Wielrennen
                </th>
                <th style="text-align: right;">
                    Schaatsen
                </th>
                <th style="text-align: right;">
                    Hardlopen
                </th>
                <th style="text-align: right;">
                    Roeien
                </th>
                <th style="text-align: right;">
                    Totaal<br />Punten
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (ParticipantViewModel item in raceGroup.Participants)
            {
                <tr style="background-color: @(item.RankMajor == 1 ? "#4cc4ff" : item.OverallScore > 0 && item.RankMinor == 1 ? "#dadada" : "transparent")">
                    <td>
                        @(item.Index)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamSeqNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RaceCodeMajor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RaceCodeMinor)
                    </td>
                    <td>
                        @(item.TeamCode.Replace(' ', '\xa0'))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParticipantName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodeRowing)
                    </td>
                    <td style="text-align: right; width: 85px; color: #f00;">
                        @if (item.CyclingStatusCode != Status.Def)
                        {
                            <div>@Html.DisplayFor(modelItem => item.CyclingStatusCode)</div>
                        }
                        else
                        {
                            <div class="discreet">
                                <div>@Html.DisplayFor(modelItem => item.CyclingTime)</div>
                                @if (!string.IsNullOrEmpty(item.CyclingPenalty))
                                {
                                    <div>@Regex.Replace(item.CyclingPenalty, ".*:(.*)\\..*", "incl.\xa0$1s")</div>
                                }
                            </div>
                            <div class="score">@Html.DisplayFor(modelItem => item.CyclingScore)</div>
                        }
                    </td>
                    <td style="text-align: right; width: 85px; color: #f00;">
                        @if (item.SkatingStatusCode != Status.Def)
                        {
                            <div>@Html.DisplayFor(modelItem => item.SkatingStatusCode)</div>
                        }
                        else
                        {
                            <div class="discreet">
                                <div>@Html.DisplayFor(modelItem => item.SkatingTime)</div>
                                @if (!string.IsNullOrEmpty(item.SkatingPenalty))
                                {
                                    <div>@Regex.Replace(item.SkatingPenalty, ".*:(.*)\\..*", "incl.\xa0$1s")</div>
                                }
                            </div>
                            <div class="score">@Html.DisplayFor(modelItem => item.SkatingScore)</div>
                        }
                    </td>
                    <td style="text-align: right; width: 85px; color: #f00;">
                        @if (item.RunningStatusCode != Status.Def)
                        {
                            <div>@Html.DisplayFor(modelItem => item.RunningStatusCode)</div>
                        }
                        else
                        {
                            <div class="discreet">
                                <div>@Html.DisplayFor(modelItem => item.RunningTime)</div>
                                @if (!string.IsNullOrEmpty(item.RunningPenalty))
                                {
                                    <div>@Regex.Replace(item.RunningPenalty, ".*:(.*)\\..*", "incl.\xa0$1s")</div>
                                }
                            </div>
                            <div class="score">@Html.DisplayFor(modelItem => item.RunningScore)</div>
                        }
                    </td>
                    <td style="text-align: right; width: 85px; color: #f00;">
                        @if (item.RowingStatusCode != Status.Def)
                        {
                            <div>@Html.DisplayFor(modelItem => item.RowingStatusCode)</div>
                        }
                        else
                        {
                            <div class="discreet">
                                @if (item.RowingTimeCorrected != item.RowingTime)
                                {
                                    <div>@Html.DisplayFor(modelItem => item.RowingTimeCorrected)</div>
                                }
                                <div>@Html.DisplayFor(modelItem => item.RowingTime)</div>
                                @if (!string.IsNullOrEmpty(item.RowingPenalty))
                                {
                                    <div>@Regex.Replace(item.RowingPenalty, ".*:(.*)\\..*", "incl.\xa0$1s")</div>
                                }
                            </div>
                            <div class="score">@Html.DisplayFor(modelItem => item.RowingScore)</div>
                        }
                    </td>
                    <td style="text-align: right; color: #f00;">
                        @Html.DisplayFor(modelItem => item.OverallScore)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div id="@($"remarks{raceGroup.RaceGroupId}")" style="font-size: 87%;">
        @foreach (RemarkViewModel remark in raceGroup.Remarks)
        {
            <p>@remark.RemarkText</p>
        }
    </div>
}