@model RaceGroupViewModel

<h2>@ViewBag.Title</h2>

@Html.GetMessageSummary()
@Html.ValidationSummary(true)

@using (Html.BeginForm(new {id = Model.RaceGroupId}.CleanUp()))
{
    <fieldset>
        <legend style="display: none;"></legend>
        <div>
            @Html.HiddenFor(model => model.RaceGroupId)
        </div>
        <div>
            <div class="editor-label" style="vertical-align: text-top;">
                @Html.LabelFor(model => model.RaceGroupDescription)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RaceGroupDescription)
                @Html.ValidationMessageFor(model => model.RaceGroupDescription)
            </div>
        </div>
        <p>
            <input type="submit" value="Opslaan" /> |
            @Html.MtkActionLink("Terug naar overzicht", "Index")
        </p>
    </fieldset>
}