@model RaceGroupViewModel

@{
    ViewBag.Title = "Racegroep verwijderen";
}

<h2>@ViewBag.Title</h2>

@Html.GetMessageSummary()

<h3>Weet je zeker dat je de volgende racegroep wilt verwijderen?</h3>
<fieldset>
    <legend style="display: none;"></legend>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RaceGroupDescription)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RaceGroupDescription)
        </div>
    </div>
</fieldset>
@using (Html.BeginForm(new {id = Model.RaceGroupId}))
{
    <p>
        @Html.HiddenFor(model => model.RaceGroupId)
        <input type="submit" value="Verwijderen"/> |
        @Html.MtkActionLink("Terug naar overzicht", "Index")
    </p>
}