@model RaceGroupViewModel

@{
    ViewBag.Title = "Racegroep";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend style="display: none;"></legend>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RaceGroupId)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RaceGroupId)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RaceGroupDescription)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RaceGroupDescription)
        </div>
    </div>
</fieldset>
<p>
    @Html.MtkActionLink("Bewerken", "Edit", new {id = Model.RaceGroupId}) |
    @Html.MtkActionLink("Terug naar overzicht", "Index")
</p>