@using PaulVeenemansPrijsDomain.BusinessLogic
@model ImportExcelViewModel

<h2>@ViewBag.Title</h2>

@Html.GetMessageSummary()
@Html.ValidationSummary(true)

@using (Html.BeginForm((string)ViewBag.Action, "ImportExcel", new {id = Model.ImportExcelId}.CleanUp(), FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <fieldset>
        <legend style="display: none;"></legend>
        <div>
            @Html.HiddenFor(model => model.ImportExcelId)
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Race)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Race, new SelectList(new[] {Parts.Cycling, Parts.Rowing, Parts.Running, Parts.Skating}))
                @Html.ValidationMessageFor(model => model.Race)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.ChipNumberLetter)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ChipNumberLetter)
                @Html.ValidationMessageFor(model => model.ChipNumberLetter)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.TeamNumberLetter)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TeamNumberLetter)
                @Html.ValidationMessageFor(model => model.TeamNumberLetter)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.TimeLetter)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TimeLetter)
                @Html.ValidationMessageFor(model => model.TimeLetter)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.SkipRows)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SkipRows)
                @Html.ValidationMessageFor(model => model.SkipRows)
            </div>
        </div>
        @if (ViewBag.Action != "Create")
        {
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ExcelFileName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ExcelFileName)
                    @Html.ValidationMessageFor(model => model.ExcelFileName)
                </div>
            </div>
        }
        <div>
            <div class="editor-label">
                ExcelData
            </div>
            <div class="editor-field">
                <input type='file' name='file' id='file' />
            </div>
        </div>
        <p>
            <input type="submit" value="Opslaan" /> |
            @Html.MtkActionLink("Terug naar overzicht", "Index")
        </p>
    </fieldset>
}