@model ImportExcelViewModel

@{
    ViewBag.Title = "Excel-import verwijderen";
}

<h2>@ViewBag.Title</h2>

@Html.GetMessageSummary()

<h3>Weet je zeker dat je de volgende Excel-import wilt verwijderen?</h3>
<fieldset>
    <legend style="display: none;"></legend>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.Race)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Race)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.ChipNumberLetter)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ChipNumberLetter)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.TeamNumberLetter)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TeamNumberLetter)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.TimeLetter)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TimeLetter)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.SkipRows)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SkipRows)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.UploadDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UploadDate)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.ImportDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ImportDate)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.ExcelFileName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ExcelFileName)
        </div>
    </div>
</fieldset>
@using (Html.BeginForm(new {id = Model.ImportExcelId}))
{
    <p>
        @Html.HiddenFor(model => model.ImportExcelId)
        <input type="submit" value="Verwijderen" /> |
        @Html.MtkActionLink("Terug naar overzicht", "Index")
    </p>
}