@model ImportExcelViewModel

@{
    ViewBag.Title = "Excel-import";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend style="display: none;"></legend>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.Race)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Race)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.ChipNumberLetter)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ChipNumberLetter)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.TeamNumberLetter)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TeamNumberLetter)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.TimeLetter)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TimeLetter)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.SkipRows)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SkipRows)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.UploadDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UploadDate)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.ImportDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ImportDate)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.ExcelFileName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ExcelFileName)
        </div>
    </div>
</fieldset>
<p>
    @Html.MtkActionLink("Bewerken", "Edit", new {id = Model.ImportExcelId}) |
    @Html.MtkActionLink("Terug naar overzicht", "Index")
</p>