@using PaulVeenemansPrijsDomain.BusinessLogic
@model IEnumerable<ImportExcelViewModel>

@{
    ViewBag.Title = "Uitslagen verwerken";
}
<div class="new-entity-link">
    @Html.MtkActionLink("Nieuwe Excel-import", "Create", null, new {@class = "Create add24px.png"})
</div>

<h2>@ViewBag.Title</h2>
<em>Excel-imports van uitslagen per onderdeel</em>

@Html.GetMessageSummary()

@Html.MtkGridPager(Model)

@Html.Grid(Model).Columns(column =>
{
    column.For(m => m.ImportExcelId).Attributes(style => "width: 32px; overflow: hidden;").HeaderAttributes(style => "width: 32px; overflow: hidden;");
    column.For(m => m.Race).Attributes(style => "width: 66px;").HeaderAttributes(style => "width: 66px; overflow: hidden;");
    column.For(m => m.ChipNumberLetter).Attributes(style => "width: 53px;").HeaderAttributes(style => "width: 53px; overflow: hidden;");
    column.For(m => m.TeamNumberLetter).Attributes(style => "width: 53px;").HeaderAttributes(style => "width: 53px; overflow: hidden;");
    column.For(m => m.TimeLetter).Attributes(style => "width: 53px;").HeaderAttributes(style => "width: 53px; overflow: hidden;");
    column.For(m => m.SkipRows).Attributes(style => "width: 53px;").HeaderAttributes(style => "width: 53px; overflow: hidden;");
    column.For(m => m.UploadDate).Attributes(style => "width: 72px;").HeaderAttributes(style => "width: 72px; overflow: hidden;");
    column.For(m => m.ImportDate).Attributes(style => "width: 72px;").HeaderAttributes(style => "width: 72px; overflow: hidden;");
    column.Custom(m => Html.ActionLink(m.ExcelFileName, "View", "ViewExcel", new {id = m.ImportExcelId}, null)).Sortable(true).SortColumnName("ExcelFileName").Attributes(style => "width: 247px; overflow: hidden;").HeaderAttributes(style => "width: 247px; overflow: hidden;");
    column.Custom(m => Html.MakeGridLinksFor(new {id = m.ImportExcelId}) + " " + Html.ActionLink("Importeren", "Import", new {id = m.ImportExcelId}, new {@class = "Import database_go.png"}) + " " + Html.ActionLink("Downloaden", "Download", new {id = m.ImportExcelId}, new {@class = "Download export_excel.png"})).Sortable(false).Attributes(style => "width: 108px; overflow: hidden;").HeaderAttributes(style => "width: 108px; overflow: hidden;");
}).Attributes(@class => "grid-editing", style => "width: 920px; table-layout: fixed;").Sort(ViewBag.sort)

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div>
    <fieldset style="float: left;">
        <legend>Scorekolom helemaal leegmaken (LET OP)</legend>
        <em>Terugzetten van de tijden is mogelijk door het desbetreffende Excelsheet (of meerdere sheets) opnieuw te importeren</em>
        <div style="clear: both;"></div>
        @using (Html.BeginForm("ClearColumn", "ImportExcel", null, FormMethod.Post, new {style = "display:block;float:left;margin-right:12px;"}))
        {
            <p>
                @Html.Hidden("id", Parts.Cycling)
                <input onclick="return confirm('Wielrennen leegmaken -- Weet je het zeker!?')" style="width: 210px;" type="submit" value="Wielrennen leegmaken"/>
            </p>
        }
        @using (Html.BeginForm("ClearColumn", "ImportExcel", null, FormMethod.Post, new {style = "display:block;float:left;margin-right:12px;"}))
        {
            <p>
                @Html.Hidden("id", Parts.Skating)
                <input onclick="return confirm('Schaatsen leegmaken -- Weet je het zeker!?')" style="width: 210px;" type="submit" value="Schaatsen leegmaken"/>
            </p>
        }
        @using (Html.BeginForm("ClearColumn", "ImportExcel", null, FormMethod.Post, new {style = "display:block;float:left;margin-right:12px;"}))
        {
            <p>
                @Html.Hidden("id", Parts.Running)
                <input onclick="return confirm('Hardlopen leegmaken -- Weet je het zeker!?')" style="width: 210px;" type="submit" value="Hardlopen leegmaken"/>
            </p>
        }
        @using (Html.BeginForm("ClearColumn", "ImportExcel", null, FormMethod.Post, new {style = "display:block;float:left;"}))
        {
            <p>
                @Html.Hidden("id", Parts.Rowing)
                <input onclick="return confirm('Roeien leegmaken -- Weet je het zeker!?')" style="width: 210px;" type="submit" value="Roeien leegmaken"/>
            </p>
        }
        <div style="clear: both;"></div>
    </fieldset>
</div>
<div style="clear: both;"></div>