﻿@using System.Configuration
@using PaulVeenemansPrijsApp
@{
    var logoFileName = $"~/Content/{ConfigurationManager.AppSettings["LogoFileName"]}";
    var backgroundUrl = $"~/Content/{ConfigurationManager.AppSettings["BackgroundImageFileName"]}";
    var backgroundCss = $"{ConfigurationManager.AppSettings["BackgroundColor"]} url({Url.Content(backgroundUrl)}) repeat-x fixed;";
    var verenigingslogoFileName = $"~/Content/{ConfigurationManager.AppSettings["VerenigingslogoFileName"]}";
    var organization = ConfigurationManager.AppSettings["Organization"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link href="~/Content/site.css" rel="stylesheet"/>
    <link href="~/Content/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>
    <link href="~/Content/tablesorter-default.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/tablesorter/jquery.tablesorter.combined.min.js"></script>
    <script src="~/Scripts/Mtk.AjaxGridEditing.js"></script>
    <script src="~/Scripts/Mtk.ButtonImages.js"></script>
    <script src="~/Scripts/Mtk.DatePicker.js"></script>
    <script src="~/Scripts/Mtk.DismissStatusMessage.js"></script>
    <script type="text/javascript">
                $.extend({
                    mtk: {
                        content: '@Url.Content("~/Content/")'
                    }
                });
        </script>
    @RenderSection("scripts", false)
</head>
<body style="background: @backgroundCss">
<div id="loadmask" style="background: @backgroundCss"></div>
<script type="text/javascript">
            document.getElementById('loadmask').style.display = 'block';
        </script>
<div class="page">
    <div id="box">
        <div id="header">
            <div id="title">
                <a href="@Url.Content("~")" title="Paul Veenemans Prijs">
                    @if (Request.IsAuthenticated && ViewBag.IsAnonymous != true)
                    {
                        <img alt="Paul Veenemans Prijs" height="75" src="@Url.Content("~/Content/pvp-logo2.png")" width="380"/>
                    }
                    else
                    {
                        <img alt="Paul Veenemans Prijs" height="120" src="@Url.Content(logoFileName)" width="600"/>
                    }
                </a>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LoginPartial")
            </div>
            @if (Request.IsAuthenticated && ViewBag.IsAnonymous != true)
            {
                <div id="menucontainer">
                    <ul id="menu">
                        <li>@Html.ActionLink("Deelnemers", "Index", "Participant", new { area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Uitslagen verwerken", "Index", "ImportExcel", new { area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Goedkeuring", "Index", "Approval", new { area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Opmerkingen", "Index", "Remark", new { area = "Admin" }, null)</li>
                        @if (User?.Identity != null && User.Identity.Name == "roel")
                        {
                            <li>@Html.ActionLink("NJ", "Index", "NewYear", new { area = "Admin" }, null)</li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            <div style="float: left; padding: 0 30px;">
                <img src="@Url.Content(verenigingslogoFileName)" alt=""/>
            </div>
            <div style="float: right; padding: 0 30px;">
                <img src="~/Content/knrblogo.png" alt=""/>
            </div>
            <div style="clear: both; padding: 0 30px;">@organization &#x96; @MvcApplication.GetVersion()</div>
        </div>
    </div>
</div>
</body>
</html>