﻿@model ParticipantViewModel

<h2>@ViewBag.Title</h2>

@Html.GetMessageSummary()
@Html.ValidationSummary(true)

<div id="participant-create-or-edit">
@using (Html.BeginForm(new {id = Model.ParticipantId}.CleanUp()))
{
    <script>
        function TimeToMilliseconds(timeString) {
            // Format will always be MM:SS or MM:SS.00
            var parts = timeString.split(":");
            return Number(parts[0]) * 60000 + Number(parts[1]) * 1000;
        }

        function MillisecondsToTime(duration) {
            var minutes = parseInt((duration / 60000) % 60);
            minutes = (minutes < 10 ? "0" : "") + minutes;
            var seconds = parseInt((duration / 1000) % 60);
            seconds = (seconds < 10 ? "0" : "") + seconds;
            var hundredths = parseInt((duration % 1000) / 10);
            hundredths = (hundredths < 10 ? "0" : "") + hundredths;
            return minutes + ":" + seconds + "." + hundredths;
        }

        var messageShownForParts = [];

        function PenaltyDialog(partName) {
            var timeSelector = "#" + partName + "Time";
            var penaltySelector = "#" + partName + "Penalty";
            var time = $(timeSelector).val();
            var penalty = $(penaltySelector).val();
            var isFormValid = $(penaltySelector).closest("form").valid();

            if (messageShownForParts.indexOf(partName) >= 0 || !isFormValid || !time || !penalty) {
                return;
            }
            $("<div><div>Straftijd optellen bij geklokte tijd?</div><ul>" +
                "<li>Als je \"nee\" kiest moet je zelf zorgen voor de juiste aanpassing!</li>" +
                "<li>Voer <span style=\"text-decoration: underline;\">altijd</span> de score-berekening opnieuw uit.</li>" +
                "<li>Bij roeien wordt de straf alleen verwerkt in de geklokte tijd. " +
                "Pas de gecorrigeerde tijd zelf aan (let op bij 2−).</li>" +
                "<li>Bij een herimport van Excel-uitslagen wordt de straftijd direct verwerkt.</li></ul></div>").dialog(
                {
                    title: "Straftijd",
                    resizable: false,
                    modal: true,
                    width: 520,
                    buttons: {
                        "Nee": function() {
                            $(this).dialog('close');
                        },
                        "Ja": function() {
                            var newTime = MillisecondsToTime(TimeToMilliseconds(time) + TimeToMilliseconds(penalty));
                            $(timeSelector).val(newTime).animate({ fontSize: "110%" }, 0)
                                .animate({ fontSize: "100%" }, 500);
                            $(this).dialog('close');
                        }
                    },
                    open: function() {
                        $(this).siblings(".ui-dialog-buttonpane").find("button:contains('Ja')").focus();
                    }
                });
            messageShownForParts.push(partName);
        }
    </script>
    <table style="border: 0; border-collapse: collapse;">
    <tr>
    <td style="border: 0; width: 385px;">
        <fieldset style="width: 380px;">
            <legend style="display: none;"></legend>
            <div>
                @Html.HiddenFor(model => model.ParticipantId)
            </div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.TeamSeqNumber)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TeamSeqNumber)
                    @Html.ValidationMessageFor(model => model.TeamSeqNumber)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ChipNumber)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ChipNumber)
                    @Html.ValidationMessageFor(model => model.ChipNumber)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.RaceCodeMajor)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.RaceCodeMajor)
                    @Html.ValidationMessageFor(model => model.RaceCodeMajor)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.RaceCodeMinor)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.RaceCodeMinor)
                    @Html.ValidationMessageFor(model => model.RaceCodeMinor)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.TeamCode)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TeamCode)
                    @Html.ValidationMessageFor(model => model.TeamCode)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ParticipantName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ParticipantName)
                    @Html.ValidationMessageFor(model => model.ParticipantName)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.CodeRowing)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.CodeRowing)
                    @Html.ValidationMessageFor(model => model.CodeRowing)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.RaceGroupRaceGroupId)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.RaceGroupRaceGroupId, Model.RaceGroups)
                    @Html.ValidationMessageFor(model => model.RaceGroupRaceGroupId)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.OverallScore)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.OverallScore)
                    @Html.ValidationMessageFor(model => model.OverallScore)
                </div>
            </div>
        </fieldset>
        <fieldset style="width: 380px;">
            <legend>Schaatsen</legend>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.SkatingTime)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SkatingTime)
                    @Html.ValidationMessageFor(model => model.SkatingTime)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.SkatingPenalty)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SkatingPenalty)
                    @Html.ValidationMessageFor(model => model.SkatingPenalty)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.SkatingStatusStatusId)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.SkatingStatusStatusId, Model.Statuses)
                    @Html.ValidationMessageFor(model => model.SkatingStatusStatusId)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.SkatingScore)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SkatingScore)
                    @Html.ValidationMessageFor(model => model.SkatingScore)
                </div>
            </div>
            <script>
                $(function() {
                    $("#SkatingPenalty").on("focusout",
                        function() {
                            PenaltyDialog("Skating");
                        });
                });
            </script>
        </fieldset>
    </td>
    <td style="border: 0; padding-right: 3px; width: 395px;">
    <fieldset style="width: 380px;">
        <legend>Hardlopen</legend>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RunningTime)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RunningTime)
                @Html.ValidationMessageFor(model => model.RunningTime)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RunningPenalty)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RunningPenalty)
                @Html.ValidationMessageFor(model => model.RunningPenalty)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RunningStatusStatusId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.RunningStatusStatusId, Model.Statuses)
                @Html.ValidationMessageFor(model => model.RunningStatusStatusId)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RunningScore)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RunningScore)
                @Html.ValidationMessageFor(model => model.RunningScore)
            </div>
        </div>
        <script>
            $(function() {
                $("#RunningPenalty").on("focusout",
                    function() {
                        PenaltyDialog("Running");
                    });
            });
        </script>
    </fieldset>
    <fieldset style="width: 380px;">
        <legend>Wielrennen</legend>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.CyclingTime)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CyclingTime)
                @Html.ValidationMessageFor(model => model.CyclingTime)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.CyclingPenalty)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CyclingPenalty)
                @Html.ValidationMessageFor(model => model.CyclingPenalty)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.CyclingStatusStatusId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.CyclingStatusStatusId, Model.Statuses)
                @Html.ValidationMessageFor(model => model.CyclingStatusStatusId)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.CyclingScore)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CyclingScore)
                @Html.ValidationMessageFor(model => model.CyclingScore)
            </div>
        </div>
        <script>
            $(function() {
                $("#CyclingPenalty").on("focusout",
                    function() {
                        PenaltyDialog("Cycling");
                    });
            });
        </script>
    </fieldset>
    <fieldset style="width: 380px;">
        <legend>Roeien</legend>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RowingTime)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RowingTime)
                @Html.ValidationMessageFor(model => model.RowingTime)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RowingPenalty)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RowingPenalty)
                @Html.ValidationMessageFor(model => model.RowingPenalty)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RowingTimeCorrected)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RowingTimeCorrected)
                @Html.ValidationMessageFor(model => model.RowingTimeCorrected)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RowingStatusStatusId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.RowingStatusStatusId, Model.Statuses)
                @Html.ValidationMessageFor(model => model.RowingStatusStatusId)
            </div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RowingScore)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RowingScore)
                @Html.ValidationMessageFor(model => model.RowingScore)
            </div>
        </div>
        <script>
            $(function() {
                $("#RowingPenalty").on("focusout",
                    function() {
                        PenaltyDialog("Rowing");
                    });
            });
        </script>
    </fieldset>
    </tr>
    </table>
    <p style="clear: both;">
        <input type="submit" value="Opslaan"/> |
        @Html.MtkActionLink("Terug naar overzicht", "Index")
    </p>
}
</div>