<div class="filter">
    @using (Html.BeginForm("Index", "Participant", FormMethod.Get))
    {
        if (!string.IsNullOrEmpty(ViewBag.sort.Column))
        {
            <input type="hidden" name="Column" value="@ViewBag.sort.Column"/>
            <input type="hidden" name="Direction" value="@ViewBag.sort.Direction"/>
        }
        <input id="filter" name="filter" value="@ViewBag.filter" />
        <input id="submit" type="submit" value="Filteren" />
        if (!string.IsNullOrEmpty(ViewBag.filter))
        {
            @Html.MtkActionLink("Filter uit", "Index", new {filter = ""})
        }
    }
</div>