@model ParticipantViewModel

@{
    ViewBag.Title = "Deelnemer verwijderen";
}

<h2>@ViewBag.Title</h2>

@Html.GetMessageSummary()

<h3>Weet je zeker dat je de volgende deelnemer wilt verwijderen?</h3>
<fieldset>
    <legend style="display: none;"></legend>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.ChipNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ChipNumber)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RaceCodeMajor)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RaceCodeMajor)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RaceCodeMinor)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RaceCodeMinor)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.TeamCode)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TeamCode)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.ParticipantName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ParticipantName)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.CodeRowing)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CodeRowing)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RaceGroupRaceGroupDescription)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RaceGroupRaceGroupDescription)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.OverallScore)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.OverallScore)
        </div>
    </div>
</fieldset>
@using (Html.BeginForm(new {id = Model.ParticipantId}))
{
    <p>
        @Html.HiddenFor(model => model.ParticipantId)
        <input type="submit" value="Verwijderen" /> |
        @Html.MtkActionLink("Terug naar overzicht", "Index")
    </p>
}