@model ParticipantViewModel

@{
    ViewBag.Title = "Deelnemer";
}

<h2>@ViewBag.Title</h2>

<fieldset style="float: left; margin-right: 12px;">
    <legend style="display: none;"></legend>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.TeamSeqNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TeamSeqNumber)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.ChipNumber)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ChipNumber)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RaceCodeMajor)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RaceCodeMajor)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RaceCodeMinor)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RaceCodeMinor)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.TeamCode)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TeamCode)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.ParticipantName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ParticipantName)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.CodeRowing)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CodeRowing)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RaceGroupRaceGroupDescription)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RaceGroupRaceGroupDescription)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RankMajor)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RankMajor)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RankMinor)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RankMinor)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.OverallScore)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.OverallScore)
        </div>
    </div>
</fieldset>
<fieldset style="float: right;">
    <legend style="display: none;"></legend>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.SkatingTime)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SkatingTime)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.SkatingPenalty)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SkatingPenalty)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.SkatingStatusDescription)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SkatingStatusDescription)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.SkatingScore)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SkatingScore)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RunningTime)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RunningTime)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RunningPenalty)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RunningPenalty)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RunningStatusDescription)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RunningStatusDescription)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RunningScore)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RunningScore)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.CyclingTime)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CyclingTime)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.CyclingPenalty)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CyclingPenalty)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.CyclingStatusDescription)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CyclingStatusDescription)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.CyclingScore)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CyclingScore)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RowingTime)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RowingTime)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RowingPenalty)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RowingPenalty)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RowingTimeCorrected)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RowingTimeCorrected)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RowingStatusDescription)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RowingStatusDescription)
        </div>
    </div>
    <div>
        <div class="display-label">
            @Html.LabelFor(model => model.RowingScore)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RowingScore)
        </div>
    </div>
</fieldset>
<p>
    @Html.MtkActionLink("Bewerken", "Edit", new {id = Model.ParticipantId}) |
    @Html.MtkActionLink("Terug naar overzicht", "Index")
</p>