﻿@{
    ViewBag.Title = "Deelnemers importeren";
}

<h2>@ViewBag.Title</h2>

<p>Volgorde van de velden moet zijn:</p>
<ol style="list-style-type: upper-alpha;">
    <li>Teamnummer</li>
    <li>Chipnummer</li>
    <li>Racecode groot</li>
    <li>Racecode klein</li>
    <li>Teamcode</li>
    <li>Naam deelnemer</li>
    <li>Code roeien ("1x", "2x" of "2-")</li>
    <li>Racegroep (=wedstrijd, indien weggelaten wordt de eerste genomen)</li>
</ol>
<p>
    Je moet echt <em>precies</em> deze volgorde aanhouden! De eerste regel wordt<br/>
    <span style="text-decoration: underline;">altijd</span> overgeslagen. (Daar kun je dus kolomkoppen plaatsen.)
</p>

@using (Html.BeginForm("Import", "Participant", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <div class="editor-label">Excel-bestand</div>
        <div class="editor-field">
            <input type="file" name="file" id="file"/>
        </div>
    </div>
    <p>
        <input type="submit" value="Importeren"/> |
        @Html.ActionLink("Back to List", "Index")
    </p>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <hr/>
    <h4>Aanpassen vanuit Excel</h4>
    <em>
        Het gedownloade document kun je na aanpassing weer uploaden via het formulier hierboven.<br/>
        Let op: gebruik deze methode <span style="text-decoration: underline;">niet</span> als er al uitslagen in het systeem zitten.
    </em>
    <p>
        @Html.ActionLink("Laatste voorgaande deelnemersimport downloaden", "Download")
    </p>
}