@model IEnumerable<ParticipantViewModel>

@{
    ViewBag.Title = "Deelnemers";
}

@section scripts {
    <script type="text/javascript">
        $.mtk.entityName = 'Deelnemer';
    </script>
}
<div class="new-entity-link">
    @Html.MtkActionLink("Deelnemers importeren", "Import", null, new {@class = "Import import24px.png"})
    @Html.MtkActionLink("Nieuwe deelnemer", "Create", null, new {@class = "Create add24px.png"})
</div>

<h2>@ViewBag.Title</h2>

@Html.GetMessageSummary()

@Html.Partial("_FilterPartial")

@Html.MtkGridPager(Model)

@Html.Grid(Model).Columns(column =>
    {
        column.For(m => m.ParticipantId);
        column.For(m => m.TeamSeqNumber).Named("Rugnr.").AlignRight();
        column.For(m => m.ChipNumber).Named("Chipnr.");
        column.For(m => m.RaceCodeMajor).Attributes(style => "width: 75px;");
        column.For(m => m.RaceCodeMinor).Attributes(style => "width: 75px;");
        column.For(m => m.TeamCode);
        column.For(m => m.ParticipantName);
        column.For(m => m.CodeRowing).Attributes(style => "width: 60px;");
        column.For(m => m.OverallScore).AlignRight();
        column.Custom(m => Html.MakeGridLinksFor(new {id = m.ParticipantId})).Sortable(false).Attributes(style => "width: 64px;");
    }).Attributes(@class => "grid-editing", style => "width: 100%;").Sort(ViewBag.sort)

<p>
    @Html.ActionLink("Racegroepen bewerken", "Index", new {Controller = "RaceGroup"})
</p>